<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<header>
    <h1>Welcome to Rent-A-Car</h1>
    <div id="userActions">
        <!-- Placeholder for "Hello, username" and logout button -->
    </div>
    <div id="signupButtonContainer">
            <button onclick="location.href='/signup';">Sign Up</button>
    </div>
</header>

<main>
    <h2>Available Cars</h2>
    <!-- List of available cars -->
    <ul id="carList">
        <!-- Placeholder for car list -->
    </ul>
</main>

<!-- Reference to the main.js script -->
<script src="/js/main.js"></script>
</body>
</html>
