<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>

<main>
    <div id="signupContainer">
        <h2>Sign Up</h2>
        <form id="signupForm">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br><br>
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" name="firstName"><br><br>
            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="lastName"><br><br>
            <button type="submit">Sign Up</button>
        </form>
    </div>
    <div id="errorMessage"></div>
</main>

<!-- Reference to the signup.js script -->
<script src="/js/signup.js"></script>
</body>
</html>
