<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>

<main>
    <form id="signupForm">
        <!-- Form fields for username, password, firstName, lastName -->
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="text" name="firstName" placeholder="First Name" required>
        <input type="text" name="lastName" placeholder="Last Name" required>
        <button type="submit">Sign Up</button>
    </form>
    <div id="errorMessage"></div> <!-- Element to display error message -->
</main>

<script src="/js/signup.js"></script>
</body>
</html>
